<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Csound module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Csound64 module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Loris fast synthesizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Loris morph test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64371A33142D1F450048FAD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F620486A84900D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9200BEFB141B1B8B00F1A3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>924EA33F13F3944E00B95349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
